@import url("../fonts/Roboto-Font/stylesheet.css");

* {
    font-family: 'robotoregular', sans-serif;
}

body {
    height: 100vh;
    width: auto;
    background-image: url("../images/background.png");
    background-repeat: round no-repeat;
}